.botones {
    color: aliceblue;
    position: absolute;
    left: 220px;
    top: 60px;
    width: 200px;
}
body {
    background-color: black;
}
.titulo {
    color: aliceblue;
    position: absolute;
    left: 220px;
    top: -0%;
}
.descripcion {
    color: rgb(126, 136, 145);
    position: absolute;
    left: 220px;
    top: 65px;
    width: 50%;
    
}
.img1 {
    position: absolute;
width: 342;
height: 520;
    
}
.vimeo {
    width: 50px;
    height: 200px;
}
